@import "tailwindcss";

@theme {
  --color-dark: #0a0a0a;
  --color-dark-accent: #1a1a1a;
  --color-primary: #ffffff;
  --color-accent: #a855f7;

  --font-sans: 'Inter', system-ui, sans-serif;
}

:root {
  background-color: var(--color-dark);
  color: var(--color-primary);
  font-family: var(--font-sans);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}